

h4 {
    color: rgb(0, 0, 0);
    font-size: 30px;
	font-family: 'Amatic SC', cursive;
    /* font-weight: bold; */
}

.pic {
	height: 200px;
	width: 100px;
}

.aw-btn {
	--button-hover-pressure: 4;
--transform-speed: 0.4s;
}

body {
	width: 100wh;
	height: 100vh;
	color: #fff;
	background: linear-gradient(-45deg, rgb(231, 92, 49), rgb(58, 55, 55), rgb(4, 184, 160), rgb(68, 35, 213));
	background-size: 150% 120%;
	background-image: url("./404.svg");
	-webkit-animation: Gradient 18s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.btn {
    border-radius: 10px;
    

}