.tec-skills {
    font-family: 'Cinzel', serif;
    /* text-align: left; */
    
}

.education {
    font-family: 'Cinzel', serif;
}

.marketing {
    /* text-align: left; */
    font-family: 'Cinzel', serif;
}


h2 {
    
    font-family: 'Amatic SC', cursive;
    color: black;
    
}